/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0; */
    /* background-image: url('https://w0.peakpx.com/wallpaper/732/469/HD-wallpaper-temsa-maraton-2020-exterior-passenger-bus-european-buses-tourist-bus-mountain-road-bus.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
  /* } */

  /* header {
    background-color: #204a7c;
    color: #ffffff;
    padding: 5px 0;
    text-align: center;
    font-size: 1.2em;
  } */

  .black {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: rgba(255, 255, 255, 0.1); */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    color: #ffffff;
  }

  .container:hover {
    transform: scale(1.02);
  }

  /* h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom:30px;
  } */