.bsw {
    background: #0a223d;
    padding: 11px 0;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    z-index: 10;
}

.bsw .bsw_inner {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.bsw .bsw_inputBox {
    max-width: 190px;
}

.bsw .bsw_inputBox {
    padding: 4px 9px;
    background: hsla(0,0%,100%,.1);
    border-radius: 4px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.selectCityContainer {
    width: 216px;
    height: 44px;
    border-radius: 8px!important;
}

.makeFlex.column {
    flex-direction: column;
}

.bsw .lbl_input {
    text-transform: uppercase;
}

.deepskyBlueText {
    color: var(--color-primary, #008cff);
}

.font12 {
    font-size: calc(var(--font-scale, 1) * 12px);
    line-height: 12px;
}
.appendBottom5 {
    margin-bottom: 5px;
}
.capText {
    text-transform: uppercase;
}

.bsw .bsw_inputField {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}

.whiteText {
    color: #ffffff;
}
.font16 {
    font-size: calc(var(--font-scale, 1) * 16px);
    line-height: 16px;
}
.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.marR8 {
    margin-right: 8px!important;
}
.swap-icon {
    background-position: -66px -448px;
    width: 15px;
    height: 11px;
}
.bsw .bsw_inputBox {
    max-width: 190px;
}
.bsw .bsw_inputBox {
    padding: 4px 9px;
    background: hsla(0,0%,100%,.1);
    border-radius: 4px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.selectCityContainer {
    width: 216px;
    height: 44px;
    border-radius: 8px!important;
}
.makeFlex.column {
    flex-direction: column;
}
.bsw .lbl_input {
    text-transform: uppercase;
}
.bsw .bsw_inputBox {
    max-width: 190px;
}

.bsw .bsw_inputBox {
    padding: 4px 9px;
    background: hsla(0,0%,100%,.1);
    border-radius: 4px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.selectCityContainer {
    width: 216px;
    height: 44px;
    border-radius: 8px!important;
}
.appendLeft12 {
    margin-left: 12px;
}
.appendBottom8 {
    margin-bottom: 8px;
}
.bsw .dates input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
.bsw .bsw_inputField {
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}
.whiteText {
    color: #ffffff;
}
.latoRegular {
    font-weight: 400;
}
.font16 {
    font-size: calc(var(--font-scale, 1) * 16px);
    line-height: 16px;
}
.appendLeft12 {
    margin-left: 12px;
}
.latoBlack {
    font-weight: 900;
}
.font18 {
    font-size: calc(var(--font-scale, 1) * 18px);
    line-height: 18px;
}
.widgetSearchBtn, .widgetSearchBtnNew {
    background: #008cff;
    border: 1px solid #008cff;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}



/* ________________________ */


.busListingContainer .busCard {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 16px 20px;
}
.makeFlex {
    display: flex;
}
.busListingContainer .busCard .busInfo {
    width: 18vw;
    margin-right: 50px;
}
.makeFlex.column {
    flex-direction: column;
}
.appendBottom22 {
    margin-bottom: 22px;
}
html[dir='ltr'] .appendRight15 {
    margin-right: 15px;
}
.makeFlex.hrtlCenter {
    align-items: center;
}


.makeFlex {
    display: flex;
}
.makeFlex {
    display: flex;
}
.makeFlex {
    display: flex;
}
.nowrapStyle, .truncate {
    white-space: nowrap;
}

.makeFlex.row {
    flex-direction: row;
}
.makeFlex.alignSelfStart {
    align-self: flex-start;
}
.blackText {
    color: #000000;
}
.latoBlack {
    font-weight: 900;
}
.latoBold {
    font-weight: 700;
}

.font18 {
    font-size: calc(var(--font-scale, 1) * 18px);
    line-height: 18px;
}
.busListingContainer .line-border-top {
    width: 29px;
    height: 1px;
    margin: 13px 8px 10px;
    border-top: 1.4px solid #e7e7e7;
}
.busListingContainer .line-border-top {
    width: 29px;
    height: 1px;
    margin: 13px 8px 10px;
    border-top: 1.4px solid #e7e7e7;
}

.busListingContainer .busCard .priceSection {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: auto; */
}
.makeFlex.end {
    align-items: flex-end;
}
.makeFlex.column {
    flex-direction: column;
}
.makeFlex.spaceBetween {
    justify-content: space-between;
}


.busListingContainer .detailHeader {
    display: flex;
    align-items: center;
    margin-right: 23px;
    cursor: pointer;
    color: #757575;
}
html[dir='ltr'] .appendRight5 {
    margin-right: 5px;
}
.downArrowSmallIcon {
    background-position: -192px -59px;
    width: 7px;
    height: 5px;
    padding: 3px;
}
.fnCpOO {
    box-sizing: border-box;
    width: 180px;
    height: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    align-self: flex-end;
    cursor: pointer;
    user-select: none;
    background: rgb(0, 140, 255);
    border: 1px solid rgb(0, 140, 255);
}

.kafEbu {
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    color: rgb(0, 0, 0);
}
html[dir='ltr'] .appendRight10 {
    margin-right: 10px;
}
.ezyJCX {
    background-color: rgb(26, 121, 113);
    width: 40px;
    font-weight: 400;
    font-size: 10px;
    height: 22px;
    line-height: 23px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}
.starIcon {
    background-position: -132px -56px;
    width: 9px;
    height: 9px;
}
.bfoMHl {
    font-weight: bold;
    font-size: 14px;
}
.appendRight26 {
    margin-right: 26px;
}
.makeFlex {
    display: flex;
}


.makeFlex.end {
    align-items: flex-end;
}
.line-top{
    width:505.68px;
    height:15px;
    color:black;

}

#buslist{
    padding-bottom: 6px;
}

.busListingContainer .busCardContainer {
    background-color: #fff;
    margin: 15px 0 0;
    border-radius: 16px;
    border: 1px solid #e7e7e7;
    position: relative; /* Add position relative to create a positioning context */
}

.busListingContainer .busCardFooter {
    position: absolute; /* Position absolute to place it at the bottom */
    bottom: 0; /* Align it to the bottom */
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 8px 16px;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .busListingContainer .busCardFooter {
    background-color: #fff;
    padding: 8px 16px;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 16px 16px;
    display: flex;
    align-items: center;

} */



.makeFlex.row.appendBottom20.alignSelfStart.hrtlCenter {
    margin-right: 0; /* Set margin-right to 0 */
}

.makeFlex.row.appendBottom20.alignSelfStart.hrtlCenter > div {
    margin-right: 20px; /* Adjust the margin to your preference */
}


@media only screen and (max-width: 768px) {
    /* Add styles specific for smaller screens here */
    body {
        font-size: 14px;
    }

    /* Adjust other styles as needed */
}

