*, *:before, *:after {
    box-sizing: border-box;
    }
    
    html {
    font-size: 16px;
    }
    
    .bus {
    margin: 20px auto;
    max-width: 350px;
    }
    
    .exit {
    position: relative;
    height: 50px;
    }
    .exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Cambria", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    }
    .exit:before {
    left: 0;
    }
    .exit:after {
    right: 0;
    }
    
    /* .seatside {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
    } */
    
    ol {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    }
    
    .seat {
    display: flex;
    flex: 0 0 14.28571428571429%;
    padding: 5px;
    position: relative;
    }
    .seat:nth-child(3) {
    margin-right: 14.28571428571429%;
    }
    .seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
    }
    .seat input[type=checkbox]:checked + label {
    background: #bada55;
    
    }
    .seat input[type=checkbox]:disabled + label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
    }
    .seat input[type=checkbox]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
    }
    .seat input[type=checkbox]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
    }
    .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: italic;
    padding: 5px 0;
    background: #d8cfcf;
    border-radius: 8px;
    }
    .seat label:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    }
    .seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #7f8381;
    }
    
    div.elem-group {
        margin: 20px 0;
      }
    
    img {
        max-width: 20%;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 25%;
        left: 0%;
        height: 30%;
        right: 60%;
        background-color: #ffffff; 
    }