
.paymentcontinueButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
}

.paymentcontinueButton:hover {
    background-color: #0056b3;
}