.bus-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(103, 58, 183,0.5);
}

.bus-item {
  margin: 10px;
}

.bus-item-container {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.bus-item-container:hover {
  background-color: #e6e6ff;
}
